<a class="CodeMirror-run">       <i class="fa fa-play"></i>              </a>
<a class="CodeMirror-step-over"> <i class="fa fa-arrow-right"></i>       </a>
<a class="CodeMirror-step-down"> <i class="fa fa-arrow-down"></i>        </a>
<a class="CodeMirror-step-up">   <i class="fa fa-arrow-up"></i>          </a>
