<a class="CodeMirror-run">                <i class="fa fa-play"></i>              </a>
<a class="CodeMirror-step-over">          <i class="fa fa-arrow-right"></i>       </a>
<a class="CodeMirror-step-into">          <i class="fa fa-arrow-down"></i>        </a>
<a class="CodeMirror-step-out">           <i class="fa fa-arrow-up"></i>          </a>
<a class="CodeMirror-break-on-exception"> <i class="fa fa-ban"></i>               </a>
