<div class="pure-g">

  <div id="file-tree-container" class="pure-u-1-5"></div>
  <div  class="pure-u-4-5">
    <div id="code-mirror-container"> </div>
    <div id="REPL-container"> </div>
    <div id="breakpoints-container"> </div>
    <div id="contexts-container"> </div>
  </div>

</div>
