#breakpoints-container {
  height: calc(33% - 7px);
  overflow-y: scroll;
}

[data-remove-breakpoint] {
  color: red;
}

a.breakpoint-file {
  color: #489FBB;
  cursor:pointer;
}

.breakpoint {
  color: 666;
  font-size: 12px;
}