@import "../../node_modules/codemirror/lib/codemirror.css";

.CodeMirror-linebreak {
  background-color: lightblue;
}

.CodeMirror-activeline {
  background-color: yellow;
}

.CodeMirror-breakpoints {
  width: 1em;
}

.CodeMirror-panel {
  color: blue;
}
