@import "../../node_modules/codemirror/lib/codemirror.css";

.CodeMirror-linebreak {
  background-color: lightblue !important;
}

.CodeMirror-activeline {
  background-color: yellow;
}

.CodeMirror-breakpoints {
  width: 1em;
}

.CodeMirror-panel {
  color: blue;
}

.CodeMirror-scroll {
  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
