#context-container {
  height: calc(33% - 7px);
  overflow: scroll;
}

#context-container .context-name {
  font-family: monospace;
  font-size: 12px;
  position: relative;
}
#context-container .context-name .bold {
  font-weight: bold;
}

#context-container .context-name .context-value {
  display: none;
  margin-bottom: 1em;
}

#context-container .context-header h4 {
  margin: 0;
}
