@import "../../node_modules/purecss/build/pure-min.css";

body {
  height: 100vh;
}

.pure-g {
  height: calc(100% - 300px - 1em);
}


#debugger-panel {
  height: 100%;
  overflow: hidden;
}

.debugger-panel-header h3 {
  background: #000;
  color: #FFF;
  line-height: 20px;
  font-size: 12px;
  padding-left: 10px;
  font-weight: 400;
}
